<table>
  <tr ng-repeat="member in item.value track by $index">
    <td>
      <ng-form name="array_input_form">
        <input name="member" ng-model="item.value[$index]" required></input>
        <span class="glyphicon glyphicon-plus-sign" ng-click="item.value.splice($index+1, 0, '')"></span>
        <span class="glyphicon glyphicon-remove-sign" ng-click="item.value.splice($index, 1)"></span>
        <span class="text-danger" ng-show="array_input_form.member.$invalid">REQUIRED</span>
      </ng-form>
    </td>
  </tr>
</table>