<!doctype html>
<html ng-app="main">
  <head>
    <link rel="stylesheet" href="/restui/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/restui/lib/codemirror/codemirror.css">
    <script src="/restui/lib/angular/angular.js"></script>
    <script src="/restui/lib/angular-ui/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="/restui/lib/angular-ui/ui-codemirror.min.js"></script>
    <script src="js/controller.js"></script>
  </head>
  <body ng-controller="main">
    <div class="panel panel-default">
      <div class="panel-heading">
        <b>Mystique App Deployment Forms</b>
      </div>
      <div class="panel-body">
        <div class="col-md-3">
          <table class="table table-condensed table-striped">
            <tr><td>Templates</td></tr>
            <tr ng-repeat="formName in formNames">
              <td><a ng-click="showForm(formName)">{{formName}}</a></td>
            </tr>
          </table>
        </div>
        <div class="col-md-6"
          ng-hide="selectedForm"
          ng-repeat="tenantName in tenantNamesWithApps">
          <table class="table table-condensed table-striped">
            <tr><td colspan="2">Applications in <b>{{tenantName}}</b></td></tr>
            <tr ng-repeat="appName in appNames[tenantName]">
              <td><a ng-click="showApp(tenantName, appName)">{{appName}}</a></td>
              <td>Template: {{appDefs[tenantName][appName].template}}</td>
            </tr>
          </table>
        </div>
        <div class="col-md-9" ng-show="selectedForm">
          <table class="table table-condensed">
            <tr>
              <td align="right">Template Name</td>
              <td><input ng-model="selectedForm" ng-disabled=true></input></td>
            </tr>
            <tr ng-repeat="item in appItems">
              <td align="right">{{item.uiName}}</td>
              <td ng-include="'partials/' + item.uiWidget + '.html'"></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <button ng-disabled="updatePending==true" ng-click="updateApp(selectedForm, appItems)">Submit</button>
                <button ng-click="clearApp()">Cancel</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="panel-footer">
        <div class="alert alert-info" ng-show="updatePending">Deployment in progress...</div>
        <div class="alert alert-warning" ng-show="updateError==true">{{updateErrorMsg}}</div>
      </div>
    </div>
  </body>
</html>
