.DS_Store
.nyc_output
.vscode/
bundle.js*
api-bundle.js*
coverage
dist
docs/_build/
docs/_static/apidocs.html
node_modules
rpmbuild
test-output.*
iappslx/presentation/openapi.json
iappslx/presentation/apidoc.html
venv/
docs/userguide/proposed-doc-rev.rst
