/*********************************
    HEADER
**********************************/
#header {
  height: 64px;
  padding: 5px;
}

.header-logo {
    float: left;
    margin: 0px 13px;
    filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.25)) drop-shadow(-1px -1px 0 rgba(255, 255, 255, 0.25));
}

.header-title {
  font-size: 200%;
  margin-top: 20px;
  filter: drop-shadow(-1px -1px 0 rgba(255, 255, 255, 0.4));
  min-width: 515px;
}

/*********************************
    NAVBAR
**********************************/
#nav-bar {
  background: #deddd9;
  border: 1px solid #bebebe;
  height: 41px;
  width: max-content;
}

#selected-nav {
  background-image: none !important;
  height: 39px;
  pointer-events: none;
}

.nav-disabled {
  pointer-events: none;
}

.btn-nav {
  display: block;
  float: left;
  color: #333;
  text-align: center;
  padding-top: 13px;
  height: 40px;
  width: 225px;
  font-weight: bold;
  background: #deddd9 url(../../../xui/framework/images/background_panel.gif) bottom right repeat-x;
}

/*********************************
    POPOVER
**********************************/
.popover-header {
  padding: .33rem .75rem .25rem .75rem;
  margin-bottom: 0;
  color: inherit;
  background-color: var(--popup-background-color);
  border-bottom: .5px ridge #ebebeb9c;
  border-top-left-radius: calc(.3rem - 1px);
  border-bottom-left-radius: calc(.3rem - 1px);
  color: white;
  z-index: 3;
  font-weight: normal;
  text-align: left;
}
  
.popover-body {
  background-color: var(--popup-background-color);
  padding: .3rem .75rem;
  color: white;
  z-index: 3;
  font-weight: normal;
  text-align: left;
  border-top-left-radius: calc(.3rem - 1px);
  border-bottom-right-radius: calc(.3rem - 1px);
  border-bottom-left-radius: calc(.3rem - 1px);
}
  
.popover-arrow-right {
  position: relative;
  left: 296px;
}
  
.popover-arrow-right:after 
{
  content: "";
  border-style: solid;
  border-width: 10px 10px 0;
  border-color: var(--popup-background-color) transparent;
  display: block;
  float: right;
  width: 0;
  transform: rotate(270deg);
  z-index: 2;
  position: absolute;
  top: 5px;
}

.popover-danger:first-child {
  /* background-color: var(--danger-color) !important; */
  background-color: #824646 !important;
}

.arrow-danger:after {
  border-color: var(--red-dark) transparent;
}

/*********************************
    LOADER
**********************************/
#loader {
  position: relative;
  top: 1.5rem;
  left: -1.5rem;
  height: 3rem;
  width: 3rem;
}
.loading.loading-lg::after {
  height: 3rem;
  width: 3rem;
}

/*********************************
    MODAL
**********************************/
.modal-header, .modal-footer {
  padding: .6rem .7rem !important;
}
.modal-title {
  color: #f6d2d2;
}
.modal-container {
  background-color: var(--popup-background-color);
  position: relative;
  left: -85px;
  top: -160px;
  cursor: default;
  padding: 0 .25rem !important;
  max-width: 600px !important;
}
.modal-body {
  color:#fde9e9;
  padding: 0rem !important;
  margin-left: 2rem !important;
}
.modal-exit-icon {
  color: #f5dddc;
  font-size: 1rem;
}
.modal-exit-icon:hover {
  color: var(--red);
}
.exclamation-icon {
  color: rgba(185, 85, 85, 0.9);
  font-size: 1.45rem;
  margin-right: 8px;
  position: relative;
  top: 2px;
}
.exclamation-icon:hover {
  color: rgba(185, 85, 85, 0.9);
}
.info-icon {
  color: rgba(128, 176, 126, 1);
  font-size: 1.5rem;
  margin-right: 8px;
  position: relative;
  top: 2px;
}
.info-icon:hover { color: rgba(125, 174, 123, 1); }
.btn-cancel {
  background-color: var(--red);
  width: var(--normal-btn-width);
  margin: 0px 5px;
  color: #f3e6e6;
}
.btn-cancel:hover, .btn-cancel:active, .btn-cancel:focus {
  background-color: var(--red-hover);
  color: white;
}
.btn-continue {
  background-color: var(--green-base);
  width: var(--normal-btn-width);
  color: #e9f6e9;
}
.btn-continue:hover, .btn-continue:active, .btn-continue:focus {
  background-color: var(--green-hover);
  color: white;
}
.btn-green {
  background-color: var(--green-base);
}
.btn-green:hover, .btn-green:active, .btn-green:focus {
  background-color: var(--green-hover);
  color: white;
}
.btn-red {
  background-color: var(--red-base);
}
.btn-red:hover, .btn-red:active, .btn-red:focus {
  background-color: var(--red-base-hover);
  color: white;
}

/*********************************
    TOOLTIP
**********************************/
.tooltip-red .icon:hover { color: var(--red-dark); }
.tooltip-red::after { background-color: var(--red-dark); }
.tooltip-red .icon::after { background-color: var(--red-dark); }
