:root {
  --base-black: #3a404b;
  --base-color: #556473;
  --popup-background-color: rgb(58, 64, 75, .98);
  --success-color: #026202;
  --green: #5e825c;
  --green-hover: #668863;
  --green-with-opacity: rgb(94, 130, 92, .9);
  --red: #b35555e3;
  --red-with-opacity: rgba(175, 79, 79, 0.849);
  --danger-color: #824646;
  --dark-row-color: #e5e4e380;
  --light-row-color: #ececeaa1;
  --normal-btn-width: 100px;
}
body {
  background-color: #eae9e5;
  border-left: 1px solid #ffffff1a;
}
iframe {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
p {
  font-size: .85rem;
  font-weight: 500;
}

button:disabled {
  background-color: #778797a1 !important;
  border-color: #545f6b36 !important;
}
button:disabled:hover {
  background-color: #778797a1 !important;
  border-color: #545f6b36 !important;
}
.btn {
  border-radius: 3px;
}
.icon {
  margin-right: 2px;
  padding: 5px;
  border-radius: 20%;
  cursor: default;
  font-size: .8rem;
  color: var(--base-color);
  top: -2px;
  left: -2px;
}
.icon:hover, .icon:hover {
  color: var(--base-black);
}
.btn-icon {
  margin-right: 2px;
  padding: 5px;
  border-radius: 20%;
  cursor: pointer;
  font-size: .8rem;
  color: var(--base-color);
}
.btn-icon:hover, .btn-icon:active {
  background-color: rgba(48,55,66,.95);
  position: relative;
  top: 1.1px;
  color: #eae9e5;
}
.btn-icon:active {
  color: #f0f3ca;
  border: 1px solid #f0f3ca;
}
.btn-template {
  flex: 1;
  margin: 5px 10px;
  font-size: .8em;
  height: auto;
  position: relative;
  top: -5px;
}
#form-btn {
  background-color: var(--green);
  min-width: 75px;
}
#form-btn:hover {
  background-color: var(--green-hover);
}
.btn-cancel {
  background-color: var(--red-with-opacity);
  width: var(--normal-btn-width);
  margin: 0px 5px;
  color: #f3e6e6;
}
.btn-cancel:hover, .btn-cancel:active, .btn-cancel:focus {
  background-color: var(--red);
  color: white;
}
.btn-continue {
  background-color: var(--green-with-opacity);
  width: var(--normal-btn-width);
  color: #e9f6e9;
}
.btn-continue:hover, .btn-continue:active, .btn-continue:focus {
  background-color: var(--green-hover);
  color: white;
}

.tr {
  display: flex;
  color: var(--base-color);
  border: 1px solid #b1b1ade8;
  border-top: none;
  border-bottom: 1px ridge #9ea19261;
}
.td {
  flex: 2;
  font-size: .8em;
  font-weight: bold;
  margin: 5px;
  align-self: center;
}
.th-row {
  display: flex;
  color: #434e58;
  background-color: #deddd975; /* #deddd9ba; */
  border: 1px solid #89909d;
  border-top: 1px solid #ababab;
  border-bottom: 1px solid #89909d;
  padding-bottom: 2px;
  font-size: .85rem;
}
.row-dark {
  background-color: var(--dark-row-color);
}
.row-light {
  background-color: var(--light-row-color);
}
.row-adjust {
  position: relative;
  top: -3px;
}

#content-wrapper {
  background-color: #ecebe6a6;
  height: 600px;
  min-width: 1000px;
  max-width: 1110px;
  margin: 2px 18px;
  padding: 5px 7.5px;
}

#app-list, #task-list {
  margin-top: 10px;
}

#app-list .col1 { min-width: 300px; }
#app-list .col2 { text-align: center; }
#app-list .col3 { text-align: center; }

#tmpl-btns .template-set-title {
  margin-bottom: 10px;
  font-weight: 600;
  cursor: pointer;
}
#tmpl-btns .divider {
  border-top: .05rem solid #969b9f;
}
#tmpl-btns .expandable-holder {
  text-align: center;
}
#tmpl-btns .divider-after {
  margin: 0px 50px;
  position: relative;
  top: -15px;
  margin-bottom: 10px;
  font-weight: 600;
  text-align: center;
}
#tmpl-btns button { margin-left: 20px; }
#deploy-buttons {
  text-align: right;
}

#template-list .th-row {
  padding-bottom: 2.5px;
  margin-top: 10px;
  font-size: 1rem;
}
#template-list .th-row:first-child {
  padding-left: 1px;
}

#template-list>div div:nth-child(-n+1) {
  min-width: 25%;
}
#template-list>div div:nth-child(n+2) {
  text-align: center;
}

#template-list .td-template-set {
  font-size: .8rem;
  color: rgba(48, 55, 66, .85);
  padding-left: 4px;
}
#template-list .td-template {
  padding-left: 10px;
}

#task-list .tooltip.tooltip-right::after {
  left: 85%;
  font-size: .66rem;
  font-weight: normal;
}
#task-list .col1 { min-width: 325px; padding-left: 15px; }
#task-list .th-row .col1 { padding-left: 7.5px; }
#task-list .col1 .tr { padding-left: 10px; }
#task-list .col2 { text-align: center; min-width: 350px; }
#task-list .col3 { text-align: center; }
#task-list .col4, #task-list .col5 {
  min-width: 12%;
  text-align: center;
  padding-right: 15px;
}

#available-text {
  margin: 10px 0px 0px;
  padding-bottom: 3px;
  border-bottom: .9px solid #8786866e;
}
#tmpl-btns>div {
  margin: 10px 2px;
  border-bottom: .9px solid #8786866e;
}

.f5-icon {
  display: inline-block;
  background-image: url('../img/f5_logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 17px;
  height: 17px;
}

.faded-active-border:active {
  border: 1px solid #f0f3ca59;
}

#app-list .tr:nth-child(even), #task-list .tr:nth-child(even) {
  background-color: var(--dark-row-color);
}

#template-list .tooltipped-f5-icon {
  top: 1px;
  left: -1px;
}
#template-list .tooltipped-f5-icon:first-child {
  position: relative;
  top: -1px;
}
#template-list .td-template-set .tooltip.tooltip-right::after {
  bottom: 40%;
  font-size: .7rem;
}

.display-none {
  display: none;
}

.clickable {
  cursor: pointer;
}
.clickable:hover {
  background-color: rgba(240, 243, 202, 0.1);
}
.clickable-darker {
  cursor: pointer;
}
.clickable-darker:hover {
  background-color: rgba(240, 243, 202, 0.25);
}
.cursor-default {
  cursor: default;
}

.btn-disabled {
  opacity: .9;
  pointer-events: none;
}

#app {
  display: none;
  padding: 0px 5px;
  position: relative;
  z-index: 2;
}

#output {
  min-height: 25px;
}

.danger-color { color: var(--danger-color); }
.success-color { color: var(--success-color); }

.fontsize-7rem { font-size: .7rem }
.fontsize-6rem { font-size: .6rem }
.fontsize-5rem { font-size: .5rem }

.italic {
  font-style: italic;
}

.height100perc {
  height: 100%;
}

.td .tenant { 
  display: inline-block;
  width: 120px;
  text-align: right;
}
.fa-angle-double-right {
  display: inline-block;
  width: 20px;
  margin: 0px 4px;
}
.th-row .fa-angle-double-right { font-size: .7rem; }
.tr .fa-angle-double-right {
  font-size: .6rem;
}
.td .application {
  display: inline-block;
  width: 120px;
  text-align: left;
}

.button-row {
  
}