<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="css/fontawesome.min.css">
        <link rel="stylesheet" href="css/solid.min.css">
        <link rel="stylesheet" href="css/animations.css">
        <link rel="stylesheet" href="css/spectre.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/shared-components.css">

        <title>F5 Application Services Templates</title>
    </head>
    <body>
        <!-- Static Content -->
        <div id="vue-app">
            <div id="header">
                <div class="header-logo"><img src="img/as3robot.png" height="55px"/></div>
                <div class="header-title">F5 Application Services Templates</div>
            </div>
            <div id="nav-bar">
                <a class="btn-nav" href="#">Application List</a>
                <a class="btn-nav" href="#create">Deploy</a>
                <a class="btn-nav" href="#templates">Templates</a>
                <a class="btn-nav" href="#tasks">Deploy Log</a>
                <a class="btn-nav" href="#settings">Settings</a>
                <a class="btn-nav" href="#api">API</a>
            </div>
            <div id="content-wrapper">
                <div v-if="busy" class='p-centered loading loading-lg'></div>
                <div id="app" v-cloak>
                    <h1 v-if="!foundAS3" class="text-error">
                        Failed to reach AS3, which is required by FAST.
                        Please check that AS3 is properly installed.
                        AS3 can be downloaded <a href="https://f5.com/getas3">here</a>.
                    </h1>
                    <component ref="page" :is="pageComponent" :data="data" :class="{ 'display-none': busy }"></component>
                    <pre id="output">{{debugOutput}}</pre>
                    <div v-if="modal.message && !busy" class="modal active">
                        <div class="modal-container">
                            <div class="modal-header">
                                <a class="fas fa-times icon btn-icon modal-exit-icon float-right faded-active-border"
                                    @click="cancelModal">
                                </a>
                                <div class="modal-title h4">
                                    <a class="fas fa-exclamation-triangle icon exclamation-icon"></a>
                                    {{modal.title}}
                                </div>
                            </div>
                            <div class="modal-body">{{modal.message}}</div>
                            <div class="modal-footer">
                                <button class="btn btn-cancel faded-active-border" @click="cancelModal">CANCEL</button>
                                <button class="btn btn-continue faded-active-border" @click="continueModal">CONTINUE</button>
                            </div>
                        </div>
                        <a class="modal-overlay faded-active-border"></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Scripts -->
        <script src="js/jsoneditor.min.js"></script>
        <script src="js/vue.min.js"></script>
        <script src="bundle.js" charset="utf-8"></script>
    </body>
</html>
