<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="css/fontawesome.min.css">
        <link rel="stylesheet" href="css/solid.min.css">
        <link rel="stylesheet" href="css/animations.css">
        <link rel="stylesheet" href="css/spectre.min.css">
        <link rel="stylesheet" href="css/choices.min.css">
        <link rel="stylesheet" href="css/style.css">

        <title>F5 Application Services Templates</title>
    </head>
    <body>
        <!-- Static Content -->
        <div id="vue-app">
            <div id="header">
                <img src="img/fastrobot.png" height="48px"/>
                F5 Application Services Templates
            </div>
            <div id="nav-bar" ref="nav" v-cloak :class="{ 'nav-disabled': busy }">
                <router-link to="/templates">FAST Templates</router-link>
                <router-link to="/applications">Applications</router-link>
                <router-link to="/tasks">History</router-link>
                <router-link to="/settings">Settings</router-link>
                <router-link to="/api">API</router-link>
            </div>
            <hr />
            <div id="content-wrapper">
                <div v-if="busy" class='p-centered loading loading-lg'></div>
                <div id="app" v-cloak>
                    <h1 v-if="!foundAS3" class="text-error">
                        Failed to reach AS3, which is required by FAST.
                        Please check that AS3 is properly installed.
                        AS3 can be downloaded <a href="https://f5.com/getas3">here</a>.
                    </h1>
                    <router-view ref="page" :class="{ 'd-none': busy }"></router-view>
                    <pre id="output">{{debugOutput}}</pre>
                </div>
            </div>
        </div>

        <!-- Scripts -->
        <script src="js/choices.min.js" charset="utf-8"></script>
        <script src="bundle.js" charset="utf-8"></script>
    </body>
</html>
