:root {
  --base-black: #3a404b;
  --popup-background-color: rgb(58, 64, 75, .98);
  --green-base: #5e825c;
  --green: rgb(94, 130, 92, .9);
  --green-light: #d6ebd8;
  --green-hover: #668863;
  --red-base: rgba(126, 35, 35, 0.849);
  --red-base-hover: rgba(145, 40, 40, 0.849);
  --red: rgba(175, 79, 79, 0.849);
  --red-hover: rgba(189, 84, 84, 0.849);
  --normal-btn-width: 100px;
}

html {
  font-size: initial;
}
body {
  background-color: #eae9e5;
  border-left: 1px solid #ffffff1a;
  font: 75% "FreeSans", Arial, Helvetica, sans-serif;
  color: #333;
  line-height: 122%;
  padding: 10px;
  max-width: 1400px;
}
#content-wrapper {
  padding: 5px 7.5px;
}

hr {
  color: #c4c4c4;
}

button:disabled {
  background-color: #778797a1 !important;
  border-color: #545f6b36 !important;
}
button:disabled:hover {
  background-color: #778797a1 !important;
  border-color: #545f6b36 !important;
}
.btn {
  border-radius: 3px;
}
.icon {
  margin-right: 2px;
  padding: 5px;
  border-radius: 20%;
  cursor: default;
  color: var(--base-color);
  top: -2px;
  left: -2px;
}
.icon:hover, .icon:hover {
  color: var(--base-black);
}
.btn-icon {
  cursor: pointer !important;
}
.btn-icon:hover, .btn-icon:active {
  background-color: rgba(48,55,66,.95);
  position: relative;
  top: 1.1px;
  color: #eae9e5;
}
.btn-icon:active {
  color: #f0f3ca;
  border: 1px solid #f0f3ca;
}
#btn-form-submit {
  background-color: var(--green-base);
  min-width: 75px;
}
#btn-form-submit:hover {
  background-color: var(--green-hover);
}

#output {
  min-height: 25px;
}

/*********************************
    TEMPLATES LIST PAGE
**********************************/

.f5-icon {
  display: inline-block;
  background-image: url('../img/f5_logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
}

[v-cloak] {
    display: none;
}

/*********************************
    HEADER
**********************************/
#header {
  display: inline-block;
  font-size: 150%;
  margin-right: 100px;
}

#header img {
  vertical-align: middle;
  filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.25)) drop-shadow(-1px -1px 0 rgba(255, 255, 255, 0.25));
}

/*********************************
    NAVBAR
**********************************/
#nav-bar {
  display: inline-block;
  vertical-align: bottom;
}

.nav-disabled a {
  pointer-events: none;
}

#nav-bar a {
  display: block;
  float: left;
  color: #6f6f6f;
  text-align: center;
  padding-top: 13px;
  height: 40px;
  margin: 0px 10px;
  width: 120px;
}

.router-link-exact-active {
  height: 39px;
  pointer-events: none;
  font-weight: bold;
  color: black !important;
}

.router-link-exact-active,
#nav-bar a:hover {
  border-bottom: 4px solid #1d98d0;
}

/*********************************
    LOADER
**********************************/
#loader {
  position: relative;
  top: 1.5rem;
  left: -1.5rem;
  height: 3rem;
  width: 3rem;
}
.loading.loading-lg::after {
  height: 3rem;
  width: 3rem;
}

/*********************************
    MODAL
**********************************/
.modal-header, .modal-footer {
  padding: .6rem .7rem !important;
}
.modal-title {
  color: #f6d2d2;
}
.modal-container {
  background-color: var(--popup-background-color);
  position: relative;
  left: -85px;
  top: -160px;
  cursor: default;
  padding: 0 .25rem !important;
  max-width: 600px !important;
}
.modal-body {
  color:#fde9e9;
  padding: 0rem !important;
  margin-left: 2rem !important;
}
.modal-exit-icon {
  color: #f5dddc;
  font-size: 1rem;
}
.modal-exit-icon:hover {
  color: var(--red);
}
.exclamation-icon {
  color: rgba(185, 85, 85, 0.9);
  font-size: 1.45rem;
  margin-right: 8px;
  position: relative;
  top: 2px;
}
.exclamation-icon:hover {
  color: rgba(185, 85, 85, 0.9);
}
.info-icon {
  color: rgba(128, 176, 126, 1);
  font-size: 1.5rem;
  margin-right: 8px;
  position: relative;
  top: 2px;
}
.info-icon:hover { color: rgba(125, 174, 123, 1); }
.btn-cancel {
  background-color: var(--red);
  width: var(--normal-btn-width);
  margin: 0px 5px;
  color: #f3e6e6;
}
.btn-cancel:hover, .btn-cancel:active, .btn-cancel:focus {
  background-color: var(--red-hover);
  color: white;
}
.btn-continue {
  background-color: var(--green-base);
  width: var(--normal-btn-width);
  color: #e9f6e9;
}
.btn-continue:hover, .btn-continue:active, .btn-continue:focus {
  background-color: var(--green-hover);
  color: white;
}
.btn-green {
  background-color: var(--green-base);
}
.btn-green:hover, .btn-green:active, .btn-green:focus {
  background-color: var(--green-hover);
  color: white;
}
.btn-red {
  background-color: var(--red-base);
}
.btn-red:hover, .btn-red:active, .btn-red:focus {
  background-color: var(--red-base-hover);
  color: white;
}
.faded-active-border:active { border: 1px solid #f0f3ca59; }

/*********************************
    JSON Editor Tweaks
**********************************/
.form-checkbox, .form-radio, .form-switch {
    font-weight: 600;
}

#form-div h4 {
	font-size: revert;
	font-weight: 600;
	display: block;
	line-height: 1.2rem;
	padding: .3rem 0;
}

.form-select, .form-input {
	line-height: initial;
	font-size: inherit;
	height: initial;
	padding: 2px 5px 1px 5px;
}

/* Fixes for Markdown in descriptions */
.je-desc a {
    text-decoration: revert;
    color: revert;
}
